/*Base page layout */


/*Extremely basic reset.
the 'star' implies that we're applying the following 
CSS declarations to _everything_ on the page.*/

* {
    margin: 0;
    padding: 0;    
    -webkit-font-smoothing: antialiased;
    /* border-box sizing, because content-box is SO CSS2.1! */
         -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
}

body {
    background: #ffffff; /* Background color! */
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif; /* Setting the font to Helvetica Neue, with Arial as a backup. */
    line-height: 22px; /* line-height specifies how much vertical space each line takes up. Space it out, make it airy! */
    color: #444444; /* Setting the font-color to #444444; */
}

img {
    max-width: 100%; /* Make images responsive, by making them fill 100% of their parent element if possible. */
    display: block;  /* Render images as block-level element. */
}

li { 
    list-style: none; /* Remove bullets on lists */
}

